*.iml
.gradle
.kotlin
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.env
debug.keystore
upload-keystore.jks
*.jks
*.keystore
key.properties

# Local build dependencies
/.android_sdk/
/.gradle_home/
/.jdk/
/*.zip
